body{
    background-color: rgba(158, 158, 168, 0.541);
}
header{
    position: relative;
    height: 100vh;
}

.nav{
    background: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    height: 50px;
    position: relative;
    z-index: 1;
}
.nav-link{
    text-decoration: none;
    
    text-transform: uppercase;
    color: white;
}
.nav-link:hover{
    color: white;
}
.fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(red, green, blue, alpha);
}
.twelcome{
    color: white;
    text-transform: none;
    font-size: 72px;
}
.swelcome{
    color: white;
    text-transform: none;
    font-size: 42px;
}
.tex1{
    color: white;
    text-transform: none;
    font-size: 32px;
}
.ha{
    font-size: 80px;
}
.titulos{
    position: absolute;
    bottom: 20%;
    right: 20%;
}
.btn-contact{
    padding: 10px 50px;
    border-radius: 20px;
    margin: 80px;
    margin-top: 250px;
    background-color: red;
    border: 1px solid red;
}
.btn-contact:hover{
    background-color: #684939;
    border: 1px solid #684939;
}
.parte2{
    background: rgba(0, 0, 0, 5.5);
    background: url(img/hamsec.jpg);
    height: 1225px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.chef{
    margin-top: 10px;
    margin-top: 20px;
    font-size: 64px;
    color: #f64b3c;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
}
.parrafo1{
    width: 750px;
    font-size: 25px;
    color: #f64b3c;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.about-content h10 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.about-parts {
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 100px;

}
.about-item p{
    color: #a3564f;
    padding: 50px 130px;
    display: inline-block;
    margin-top: 5px;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}
.about-item p2{
    color: #a3564f;
    padding: 50px 15px;
    display: inline-block;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}
.parte3{
    background: url(img/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bb{
    padding: 200px 125px;
}
.texto1 h15{
    padding: 200px 50px;
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
}
.texto1 p2{
    padding: 200px 0px;
    width: 1131px;
    height: 210px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
}
.parte4{
    background: url(img/hamsec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.parte5{
    background: url(img/fondo2e.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.parrafost h20{
    padding: 300px 250px;
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.parrafost p4{
    padding: 200px 0px;
    width: 1131px;
    height: 150px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
}
.losnumeros{
    margin: 50px 50px;
    align-content: flex-end;
    justify-content: space-around;
}
.parte6{
    background: url(img/hamsec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tcosas{
    color: #ffffff;
    align-items: center;
    justify-content: space-around;
}
.tt{
    padding: 5px 250px;
    font-size: 75px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
}
.cosa{
    justify-content: space-between;
    border: 5px solid rgb(255, 255, 255);
    padding: 10px 15px;
    margin: 20px 30px;

}
.precio{
    font-size: 33px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
    text-align: center;
}
.had{
    padding: 50px 150px;
    font-size: 81px;
}
.des{
    padding: 50px 10px;
    width: 350px;
    height: 35px;
    font-size: 20px;
    color: #f64b3c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.parte7{
    background: url(img/OIH7U40.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.texto5 p6{
    padding: 50px 25px;
    width: 746px;
    height: 483px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
    text-align: center;;
}
.texto5 h25{
    font-size: 45px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Calistoga', cursive;
    text-align: center;
}
.parte8{
    background: url(img/hamsec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tipb{
    font-size: 75px;
color: #f64b3c;
font-weight: 700;
font-family: "Archivo";
text-align: center;
}
.txpb{
    width: 1509px;
height: 210px;
font-size: 30px;
color: #f64b3c;
font-weight: 400;
font-family: "Nunito";
text-align: center;
}
.partefinal{
    background: url(img/final.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*
    font-family: 'Archivo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Calistoga', cursive;
    descargar
    font-family: "Montserrat";
    font-family: "Archivo";
*/